body {
  background-color: black;
  margin: 5px;
}

.overview,
.pinned {
  display: flex;
}

.pinned {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pin-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pinned-card {
  border: 2px solid rgb(81, 81, 81);
  border-radius: 10px;
  margin: 10px;
}

.pro-card {
  background-color: black;
  color: white;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 10px;
  height: 100%;
}

.followers,
.location,
.web-address,
.highlights,
.sponsors,
.organ,
.pro-text {
  margin: 10px;
}

.pro-title {
  text-align: center;
  margin-top: 25px;
}

.follow-btn {
  margin-left: 10px;
}

.web-address,
.location,
.followers {
  font-size: 12px;
}

.pro-img {
  border-radius: 75px;
}

.org {
  max-width: 25px;
}

.sponsor-img {
  max-width: 25px;
  border-radius: 15px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.pinned-repo {
  background-color: black;
  color: white;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 10px;
  margin: 10px;
}

h4 {
  color: white;
}

p {
  font-size: 12px;
  margin-bottom: 5px;
}

#repo-form-div {
  background-color: black;
  color: #c8d1d8;
  margin: 1rem;
  border: solid gray 0.2rem;
  border-radius: 2.5%;
}

#repo-form-div {
  margin: 0.5rem;
}

#repo-name-input,
#repo-description,
#language-select {
  background-color: black;
}

#language-select {
  color: #c8d1d8;
}

.form-title {
  padding-top: 0.05rem;
}

#repo-name-help {
  color: #c8d1d8;
}

#silly-repo-name {
  color: #53cb61;
}
/* packages */

#master {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
}

#navigate {
  flex: none;
}

.footer {
  margin-top: auto;
  justify-content: space-around;
}

#ftr-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#packages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  border: 3px solid lightgray;
  padding: 10px;
  margin-top: 30px;
}

.card {
  height: 210px;
  margin-top: 10px;
  background-color: black;
  color: whitesmoke;
  border: 3px solid lightgray;
}

#newPackage {
  border: 3px solid lightgray;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 10px;
  color: whitesmoke;
}

#submit {
  margin-top: 10px;
}

#delete {
  margin: auto;
  width: 75px;
  height: 35px;
}

#card-footer {
  margin-top: auto;
  justify-content: space-around;
  color: whitesmoke;
}

.repo-card {
  display: flex;
  flex-direction: row;
  width: 50rem;
  background-color: black;
  border-bottom: 1px solid #21272b;
  border-radius: 0%;
}

.repo-card-body {
  display: flex;
  justify-content: space-between;
}

#repo-div {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-width: 80rem;
  height: 44rem;
}

.repo-div-show-more {
  height: 75% !important;
}

#repo-div::-webkit-scrollbar {
  display: none;
}

#profile-navigate-content {
  display: flex;
  padding: 2rem;
}

#navigate-content {
  display: flex;
  flex-direction: column;
}

#content-div {
  max-width: 100%;
  margin: 0.5rem;
}

.main-repo-info * {
  margin: 0.05rem;
}

.repo-title {
  color: #57a5ff;
}

.repo-description {
  color: #8b949e;
}

#repo-description {
  color: #c8d1d8;
}

.details {
  color: #8b949e;
}

.card-tags {
  background-color: #131e2e;
  color: #57a5ff;
  border: solid transparent 1px;
  border-radius: 20%;
}

#repo-name-input {
  color: #c8d1d8;
}

#content-div * {
  padding: 0.2rem;
}

#search-div {
  margin-top: 0.5rem;
}

#search-div input {
  background-color: black;
  color: #c8d1d8;
  width: 50rem;
  border: 1px solid #8b949e;
}

#show-more-container {
  display: flex;
  width: 50rem;
  justify-content: center;
}

#show-more-button {
  background-color: #131e2e;
  color: #57a5ff;
  border: solid transparent 1px;
  border-radius: 20%;
}
