body {
  background-color: black;
}

.pro-card {
  background-color: black;
  color: white;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 10px;
}

.web-address,
.location,
.followers {
  font-size: 12px;
}

.pro-img {
  border-radius: 75px;
}

.org {
  max-width: 25px;
}

.sponsor-img {
  max-width: 25px;
  border-radius: 15px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.pinned-repo {
  background-color: black;
  color: white;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 10px;
}

h4 {
  color: white;
}

p {
  font-size: 12px;
  margin-bottom: 5px;
}

#repo-form-div {
  background-color: black;
  color: #c8d1d8;
  margin: 1rem;
  border: solid gray 0.2rem;
  border-radius: 2.5%;
}

#repo-form-div * {
  margin: 0.5rem;
}

.form-title {
  padding-top: 0.05rem;
}

#repo-name-help {
  color: #c8d1d8;
}

#silly-repo-name {
  color: #53cb61;
}

#repo-div {
  display: flex;
}

#content-div {
  display: inline-block;
}

.repo-card {
  display: flex;
  flex-direction: row;
  width: 50rem;
  background-color: black;
  border-bottom: 1px solid #21272b;
  border-radius: 0%;
}

.repo-card-body {
  display: flex;
  justify-content: space-between;
}

#repo-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#profile-navigate-content {
  display: flex;
  padding: 2rem;
}

#navigate-content {
  display: flex;
  flex-direction: column;
}

#content-div {
  max-width: 70%;
}

.main-repo-info * {
  margin: 0.2rem;
}

.repo-title {
  color: #57a5ff;
}

.repo-description {
  color: #8b949e;
}

.details {
  color: #8b949e;
}

.card-tags {
  background-color: #131e2e;
  color: #57a5ff;
  border: solid transparent 1px;
  border-radius: 20%;
}

#content-div * {
  padding: 0.2rem;
}

#search-div input {
  background-color: black;
  width: 50rem;
}

#show-more-container {
  display: flex;
  width: 50rem;
  justify-content: center;
}
