body {
  background-color: black;
  color: lightgray;
  flex: auto;
}

#master {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navigate {
  flex: none;
  
  margin-left: 275px;

}

.footer {
  margin-top: auto;
  justify-content: space-around;
 
}

#ftr-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#packages {
  display: flex;
  
}
