body {
  background-color: black;
  color: lightgray;
  flex: auto;
}

#master {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navigate {
  flex: none;
  
  margin-left: 275px;

}

.footer {
  margin-top: auto;
 
}

#bio {
  position: ;
}
